/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
    color: #007bff;
    margin: 0;
    padding: 0;
}

/* Header styles */
header {
    background-color: #007bff;
    color: #fff;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo a {
    color: #fff;
    font-size: 1.5em;
    text-decoration: none;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    transition: color 0.3s ease;
    padding: 10px;
}

nav ul li a:hover {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

/* Hamburger menu styles */
.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger .line {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
    transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 10px;
    }

    .logo {
        margin-bottom: 10px;
    }

    nav {
        text-align: center; /* Horizontal alignment of navigation items */
    }

    nav ul {
        display: inline-block; /* Display navigation items inline */
        padding: 0;
        margin: 0;
    }

    nav ul li {
        display: inline-block; /* Display list items inline */
        margin: 0 5px; /* Adjust margin between list items */
    }

    .hamburger {
        display: none; /* Hide the hamburger menu */
    }
}


